* text=auto !eol
.github/FUNDING.yml -text
Config/env/vars_vista.lst -text
Config/env/vars_win2k.lst -text
Config/env/vars_win7.lst -text
Config/env/vars_win8.lst -text
Config/env/vars_winxp.lst -text
/README.md -text
/README_EN.txt -text
Scripts/KNOWN_ISSUES.txt -text
Scripts/__init__.bat -text
Scripts/__init__/__init__.bat -text
Scripts/changelog.txt -text
Scripts/check_svn_up_change.bat -text
Scripts/extract_info_param.bat -text
Scripts/extract_last_changed_rev.bat -text
Scripts/extract_url_root.bat -text
Scripts/extract_url_scheme.bat -text
Scripts/gen_branch_workingset.bat -text
Scripts/gen_branch_workingset_time.bat -text
Scripts/gen_diff_svn_externals.bat -text
Scripts/gen_diff_svn_workingsets.bat -text
Scripts/gen_externals_list_from_pget.bat -text
Scripts/gen_externals_list_from_workingset.bat -text
Scripts/impl/svn_arg_parse-r.bat -text
Scripts/impl/svn_get_wc_db_user_ver.bat -text
Scripts/jenkins/convert_svn_changeset_xml_to_lst.bat -text
Scripts/make_url_absolute.bat -text
Scripts/make_url_canonical.bat -text
Scripts/print_svn_changesets_diff_lst.bat -text
Scripts/remove_branch_workingset_files.bat -text
Scripts/svn_changeset.bat -text
Scripts/svn_check_out.bat -text
Scripts/svn_externals_list.bat -text
Scripts/svn_find_rev_by_diff_text.sh -text
Scripts/svn_has_changes.bat -text
Scripts/svn_list.bat -text
Scripts/svn_remove_external_by_revision.bat -text
Scripts/svn_remove_external_by_workingset.bat -text
Scripts/svn_remove_external_unchanged_dir.bat -text
Scripts/svn_remove_externals.bat -text
Scripts/svn_remove_externals_by_workingset.bat -text
Scripts/svn_up.bat -text
Scripts/sync_branch_workingset.bat -text
/TODO.txt -text
TestScripts/gen.bat -text
TestScripts/sync.bat -text
Tests/batscripts/.test_make_url_absolute/impl.bat -text
Tests/batscripts/.test_make_url_absolute/init.bat -text
Tests/batscripts/.test_make_url_canonical/impl.bat -text
Tests/batscripts/.test_make_url_canonical/init.bat -text
Tests/batscripts/__init__.bat -text
Tests/batscripts/test_all.bat -text
Tests/batscripts/test_make_url_absolute.bat -text
Tests/batscripts/test_make_url_canonical.bat -text
TestsExternal/batscript/__init__.bat -text
TestsExternal/batscript/__init__.py -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/01/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/02/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/03/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/04/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/11/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/12/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/14/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/15/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/16/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/17/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/21/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/22/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/23/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/24/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/25/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/26/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/27/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/X0/output.txt -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/exec_checkout_rev.lst -text
TestsExternal/batscript/_testdata_static/test_scm_svn__svn_changeset/exec_update_comb1.lst -text
TestsExternal/batscript/pyscripts/__init__.bat -text
TestsExternal/batscript/pyscripts/__init__.py -text
TestsExternal/batscript/pyscripts/gen_empty_repos.bat -text
TestsExternal/batscript/pyscripts/gen_empty_repos.py -text
TestsExternal/batscript/pytests/__init__.py -text
TestsExternal/batscript/pytests/test_svn_changeset.py -text
TestsExternal/batscript/test_all.bat -text
TestsExternal/batscript/test_svn_changeset.bat -text
__init__/__init__.bat -text
__init__/__init__.sh -text
__init__/declare_builtins.bat -text
_config/config.0.vars.in -text
_config/config.system.vars.in -text
/changelog.txt -text
/configure.bat -text
/license.txt -text
/svncmd.tag -text
